/* mobile */
@media only screen and (max-width: 768px) {
    body {
        width: 100%;
        position: fixed;
        top: 270px;
    }

    .ageCalc {
        width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #insertDay, #insertMonth, #insertYear {
        width: 60%;
    }

    label {
        position: relative;
        left: 10px;
        justify-self: start;
    }

    .day, .month, .year {
        display: grid;
        justify-items: center;
    }

    .ageResult {
        font-size: 32px;
    }

    .divider {
        width: 310px;
        margin-bottom: 30px;
    }

    .arrow {
        position: relative;
        bottom: 34px;
        left: 120px;
    }

    .errorDay, .errorMonth, .errorYear {
        color: hsl(0, 100%, 67%);
        margin-top: 8px;
        font-size: 10px;
        position: relative;
        left: 10px;
    }
}

/* Desktop/PC */
@media only screen and (min-width: 769px) {
    body {
        position: relative;
        top: 270px;
    }
    
    label {
        justify-self: start;
    }

    #insertDay, #insertMonth, #insertYear {
        width: 40%;
        height: 60%;
    }

    .container {
        min-height: 500px;
    }

    .ageCalc {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .day, .month, .year {
        display: grid;
        justify-items: start;
    }

    .month, .year {
        position: relative;
        right: 40px;
    }

    .year {
        margin-left: -50px;
    }

    .ageResult {
        position: relative;
        right: 100px;
        font-size: 52px;
    }

    .divider {
        width: 510px;
        margin-bottom: 30px;
    }

    .arrow {
        position: relative;
        bottom: 40px;
        left: 430px;
        width: 60px;
        height: 58px; 
    }

    .errorDay, .errorMonth, .errorYear {
        color: hsl(0, 100%, 67%);
        margin-bottom: -30px;
        margin-top: 8px;
        font-size: 12px;
    }
}


body {
    font-family: "Poppins", sans-serif;
    background-color: hsl(0, 0%, 94%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
}

.ageCalc {
    background-color: hsl(0, 0%, 100%);
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 12px;
    border-bottom-right-radius: 35%;
    padding: 16px;
}

.inputField {
    display: grid;
    grid-template-columns: repeat(3, minmax(33%, 1fr));
    margin-bottom: 48px;
}



label {
    color: hsl(0, 1%, 44%);
    /* display: grid;
    justify-self: start;
    align-self: center; */
}

input {
    color: hsl(0, 0%, 8%);
    font-weight: 700;
    font-size: 15px;
    padding: 10px;
    text-align: center;
    border: 2px solid hsl(0, 1%, 44%);
    border-radius: 5px;
}

.error {
    border: 2px solid hsl(0, 100%, 67%);
    border-radius: 5px;
}

.errorLabel {
    color: hsl(0, 100%, 67%);
}

.empty {
    color: hsl(0, 100%, 67%);
    font-style: italic;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
    appearance: textfield;
  -moz-appearance: textfield;
}


.ageResult {
    font-weight: 800;
    font-style: italic;
}

.ageResult > div > span {
    color: hsl(259, 100%, 65%);
}

.attribution {
    position: fixed;
    bottom: 0;
}

.divider {
    background-color: hsl(0, 0%, 86%);
    height: 1px;
}

.arrow {
    background-color: hsl(259, 100%, 65%);
    border: 1px solid hsl(259, 100%, 65%);
    border-radius: 50%;
    padding: 10px;
}